@model LoginDto
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewData["Title"] = "Login Page";
}

<div class="panel card-sign">
    <div class="card-body">
        <form id="form" asp-action="Login" method="post">
            <input type="hidden" name="ReturnUrl" value="@ViewData["ReturnUrl"]" />
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="form-floating">
                        <input asp-for="Email" type="email" class="form-control form-control-lg"
                            id="floatingInputGroupEmail" placeholder="E-Posta" required>
                        <label for="floatingInputGroupEmail">E-Posta</label>
                    </div>
                    <span class="input-group-text"><i class="bx bx-envelope text-4"></i></span>
                </div>
            </div>

            <div class="form-group mb-3">
                <div class="clearfix">
                    <a asp-action="ForgotPassword" class="float-end">Şifrenizi mi
                        unuttunuz?</a>
                </div>
                <div class="input-group">
                    <div class="form-floating">
                        <input asp-for="Password" type="password" class="form-control" id="floatingInputGroupPassword"
                            placeholder="Şifre" required>
                        <label for="floatingInputGroupPassword">Şifre</label>
                    </div>
                    <span class="input-group-text"><i class="bx bx-lock text-4"></i></span>
                </div>
            </div>

            <div class="col-sm-12 text-end">
                <button type="submit" class="btn btn-primary mt-2 w-100 rounded-5">Oturum
                    Aç</button>
            </div>

            <span class="mt-3 mb-3 line-thru text-center text-uppercase">
                <span>VEYA</span>
            </span>

            <div class="mb-1 text-center">
                <a class="btn btn-outline-dark border-dark-subtle mb-3 ms-1 me-1 w-100 rounded-5" href="#">
                    <svg version="1.1" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48">
                        <g>
                            <path fill="#EA4335"
                                d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                            </path>
                            <path fill="#4285F4"
                                d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                            </path>
                            <path fill="#FBBC05"
                                d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                            </path>
                            <path fill="#34A853"
                                d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                            </path>
                            <path fill="none" d="M0 0h48v48H0z"></path>
                        </g>
                    </svg>
                    Google ile devam et</a>
            </div>

            <div class="mb-1 text-center">
                <a class="btn btn-outline-dark border-dark-subtle mb-3 ms-1 me-1 w-100 rounded-5" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 48 48">
                        <path fill="#ff5722" d="M6 6H22V22H6z" transform="rotate(-180 14 14)">
                        </path>
                        <path fill="#4caf50" d="M26 6H42V22H26z" transform="rotate(-180 34 14)">
                        </path>
                        <path fill="#ffc107" d="M26 26H42V42H26z" transform="rotate(-180 34 34)"></path>
                        <path fill="#03a9f4" d="M6 26H22V42H6z" transform="rotate(-180 14 34)">
                        </path>
                    </svg>
                    Microsoft ile devam et</a>
            </div>

            <p class="text-center">Henüz bir hesabınız yok mu? <a asp-action="Register">Kayıt
                    Ol</a></p>

        </form>
    </div>
</div>

@section Scripts {
    <script>
        var errorMessages = @Html.Raw(Json.Serialize(ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).ToList()));
        if (errorMessages.length > 0) {
            var notice = new PNotify({
                text: errorMessages.join('<br>'),
                type: 'error',
                addclass: 'click-2-close',
                hide: false,
                buttons: {
                    closer: false,
                    sticker: false
                }
            });

            notice.get().click(function () {
                notice.remove();
            });
        }        
    </script>
}