<header class="page-header">
    <div class="right-wrapper text-end">
        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
    </div>
</header>

<h2>Index</h2>